<?xml version="1.1" encoding="UTF-8"?>
<hudson.plugins.view.dashboard.Dashboard plugin="dashboard-view@2.12">
  <name>Native</name>
  <description>Bulk loading, processing, and commit jobs for Native database.</description>
  <filterExecutors>false</filterExecutors>
  <filterQueue>false</filterQueue>
  <properties class="hudson.model.View$PropertyList"/>
  <jobNames>
    <comparator class="hudson.util.CaseInsensitiveComparator"/>
    <string>Native_AER_Active_In_Situ_Scheme_Approval_Well_List_Bulk_Load</string>
    <string>Native_AER_Active_In_Situ_Scheme_Approval_Well_List_Process_Source</string>
    <string>Native_AER_Active_In_Situ_Scheme_Approval_Well_List_Source_Commit</string>
    <string>Native_AER_Performance_Presentation_Bulk_Load</string>
    <string>Native_AER_Performance_Presentation_Process_Source</string>
    <string>Native_AER_Performance_Presentation_Source_Commit</string>
    <string>Native_AER_Scheme_Approval_Spatial_Bulk_Load</string>
    <string>Native_AER_Scheme_Approval_Spatial_Conventional_ER_Process_Source</string>
    <string>Native_AER_Scheme_Approval_Spatial_Conventional_ER_Source_Commit</string>
    <string>Native_AER_Scheme_Approval_Spatial_In_Situ_Oil_Sands_Process_Source</string>
    <string>Native_AER_Scheme_Approval_Spatial_In_Situ_Oil_Sands_Source_Commit</string>
    <string>Native_AER_Scheme_Approval_Spatial_Mineable_Oil_Sands_Process_Source</string>
    <string>Native_AER_Scheme_Approval_Spatial_Mineable_Oil_Sands_Source_Commit</string>
    <string>Native_AER_Scheme_Approval_Spatial_Oil_Sands_Areas_Process_Source</string>
    <string>Native_AER_Scheme_Approval_Spatial_Oil_Sands_Areas_Source_Commit</string>
    <string>Native_AER_Scheme_Approval_Spatial_PBR_Process_Source</string>
    <string>Native_AER_Scheme_Approval_Spatial_PBR_Source_Commit</string>
    <string>Native_AER_Scheme_Approval_Spatial_Surface_Mineable_Area_Process_Source</string>
    <string>Native_AER_Scheme_Approval_Spatial_Surface_Mineable_Area_Source_Commit</string>
    <string>Native_AER_St103_Field_Pool_List_Bulk_Load</string>
    <string>Native_AER_ST103_Field_Pool_List_Process_Source</string>
    <string>Native_AER_ST103_Field_Pool_List_Source_Commit</string>
    <string>Native_AER_St39_Bulk_Load</string>
    <string>Native_AER_ST39_Electricity_Process_Source</string>
    <string>Native_AER_ST39_Electricity_Source_Commit</string>
    <string>Native_AER_ST39_Oil_Sands_Process_Source</string>
    <string>Native_AER_ST39_Oil_Sands_Source_Commit</string>
    <string>Native_AER_ST39_Production_Process_Source</string>
    <string>Native_AER_ST39_Production_Source_Commit</string>
    <string>Native_AER_ST44_Active_In_Situ_Process_Source</string>
    <string>Native_AER_ST44_Active_In_Situ_Source_Commit</string>
    <string>Native_AER_ST44_Active_Minable_Process_Source</string>
    <string>Native_AER_ST44_Active_Minable_Source_Commit</string>
    <string>Native_AER_St44_Bulk_Load</string>
    <string>Native_AER_ST44_Inactive_Process_Source</string>
    <string>Native_AER_ST44_Inactive_Source_Commit</string>
    <string>Native_AER_ST53_Bitumen_Process_Source</string>
    <string>Native_AER_ST53_Bitumen_Source_Commit</string>
    <string>Native_AER_St53_Bulk_Load</string>
    <string>Native_AER_ST53_SOR_Process_Source</string>
    <string>Native_AER_ST53_SOR_Source_Commit</string>
    <string>Native_AER_ST53_Steam_Process_Source</string>
    <string>Native_AER_ST53_Steam_Source_Commit</string>
    <string>Native_AER_ST53_Water_Process_Source</string>
    <string>Native_AER_ST53_Water_Source_Commit</string>
    <string>Native_AER_ST53_Wells_Process_Source</string>
    <string>Native_AER_ST53_Wells_Source_Commit</string>
    <string>Native_AER_ST53_WSR_Process_Source</string>
    <string>Native_AER_ST53_WSR_Source_Commit</string>
    <string>Native_EIA_Ref_Cap_Process_Source</string>
    <string>Native_EIA_Ref_Cap_Source_Commit</string>
    <string>Native_EIA_Refcap_Bulk_Load</string>
    <string>Native_EIA_US_Liquefaction_Capacity_Approved_No_Train_Details_Process_Source</string>
    <string>Native_EIA_US_Liquefaction_Capacity_Approved_No_Train_Details_Source_Commit</string>
    <string>Native_EIA_US_Liquefaction_Capacity_Approved_Process_Source</string>
    <string>Native_EIA_US_Liquefaction_Capacity_Approved_Source_Commit</string>
    <string>Native_EIA_Us_Liquefaction_Capacity_Bulk_Load</string>
    <string>Native_EIA_US_Liquefaction_Capacity_Existing_And_Under_Construction_Process_Source</string>
    <string>Native_EIA_US_Liquefaction_Capacity_Existing_And_Under_Construction_Source_Commit</string>
    <string>Native_HIFLD_Liquified_Natural_Gas_Import_Export_And_Terminals_Bulk_Load</string>
    <string>Native_HIFLD_Liquified_Natural_Gas_Import_Exports_And_Terminals_Process_Source</string>
    <string>Native_HIFLD_Liquified_Natural_Gas_Import_Exports_And_Terminals_Source_Commit</string>
    <string>Native_HIFLD_Oil_Refineries_Bulk_Load</string>
    <string>Native_HIFLD_Oil_Refineries_Process_Source</string>
    <string>Native_HIFLD_Oil_Refineries_Source_Commit</string>
    <string>Native_NRCAN_Liquefied_Natural_Gas_Terminals_Bulk_Load</string>
    <string>Native_NRCAN_Liquefied_Natural_Gas_Terminals_Process_Source</string>
    <string>Native_NRCAN_Liquefied_Natural_Gas_Terminals_Source_Commit</string>
    <string>Native_NRCAN_Refineries_Bulk_Load</string>
    <string>Native_NRCAN_Refineries_Process_Source</string>
    <string>Native_NRCAN_Refineries_Source_Commit</string>
    <string>Native_PETRINEX_PRA_Oil_Sands_Area_Codes_Process_Source</string>
    <string>Native_PETRINEX_PRA_Oil_Sands_Area_Codes_Source_Commit</string>
    <string>Native_PETRINEX_PRA_Oil_Sands_Area_Deposit_Codes_Process_Source</string>
    <string>Native_PETRINEX_PRA_Oil_Sands_Area_Deposit_Codes_Source_Commit</string>
    <string>Native_PETRINEX_Pra_Oilsands_Area_Codes_Bulk_Load</string>
    <string>Native_PETRINEX_Pra_Oilsands_Area_Deposit_Codes_Bulk_Load</string>
  </jobNames>
  <jobFilters/>
  <columns>
    <hudson.views.StatusColumn/>
    <hudson.views.WeatherColumn/>
    <hudson.views.JobColumn/>
    <hudson.views.LastSuccessColumn/>
    <hudson.views.LastFailureColumn/>
    <hudson.views.LastDurationColumn/>
    <hudson.views.BuildButtonColumn/>
  </columns>
  <recurse>false</recurse>
  <useCssStyle>false</useCssStyle>
  <includeStdJobList>true</includeStdJobList>
  <hideJenkinsPanels>false</hideJenkinsPanels>
  <leftPortletWidth>50%</leftPortletWidth>
  <rightPortletWidth>50%</rightPortletWidth>
  <leftPortlets/>
  <rightPortlets/>
  <topPortlets/>
  <bottomPortlets/>
</hudson.plugins.view.dashboard.Dashboard>